.header {
  height: 66px;
  width: 100%;
  background-color: var(--basic-white);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-left: -3px;
  margin-right: 10px;
}

.header__logo-text {
  color: var(--basic-blue);
}

.header__menu-button {
  background: none;
  border: none;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: content-box;
}

.menu-button {
  position: relative;
  width: 24px;
  height: 100%;
}

.menu-button__line {
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: var(--basic-black);
  transition: transform ease-in-out 0.2s, width, opacity ease-in-out 0.2s;
}

.menu-button__line_top {
  top: calc(50% - 8.75px);
}

.menu-button__line_mid {
  top: calc(50% - 0.75px);
}

.menu-button__line_bot {
  top: calc(50% + 7.25px);
}

.menu-button_close .menu-button__line_top {
  transform: translateY(8px) rotate(45deg);
  width: 24.75px;
}

.menu-button_close .menu-button__line_mid {
  /* transform: translateX(-50%); */
  opacity: 0;
}

.menu-button_close .menu-button__line_bot {
  transform: translateY(-8px) rotate(-45deg);
  width: 24.75px;
}

.menu {
  position: absolute;
  top: 66px;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: transform ease-in-out 0.3s;
  border-bottom: 1px solid var(--special-grey-2);
}

.menu_hidden {
  transform: translateX(-100%);
}

.menu__item {
  height: 66px;
  background-color: var(--basic-white);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--special-grey-2);
  font-size: 20px;
  font-weight: 500;
  color: var(--basic-black);
}

/* Логотип */
.logo {
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    position: static;
    height: 50px;
    margin-top: 40px;
    padding: 0 40px;
  }

  .header__logo {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .header__logo-text {
    margin-top: -0.15em;
  }

  .header__menu-button {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    gap: 60px;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 20px;
    border-bottom: none;
    transform: none;
  }

  .menu__item {
    display: inline-block;
    height: auto;
    width: auto;
    border-top: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    padding: 0 16px 10px;
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border ease-out 0.3s;
  }

  .menu__item:hover {
    border-bottom: 2px solid var(--basic-blue);
    transition-duration: 0.2s;
  }

  /* Логотип */
  .logo {
    font-size: 40px;
  }
}

@media screen and (min-width: 1220px) {
  .header {
    background: none;
    height: 60px;
    padding: 0 20px;
  }

  .header__logo {
    width: 60px;
    height: 60px;
  }

  .menu__item {
    font-size: 20px;
    color: var(--basic-white);
  }

  .menu__item:hover {
    border-bottom: 2px solid var(--basic-white);
  }

  /* Логотип */
  .logo {
    font-size: 60px;
  }
}
