:root {
  --basic-grey: #f2f2f2;
  --special-grey-1: #d9d9d9;
  --basic-blue: #383db7;
  --basic-white: #fff;
  --basic-black: #000;
  --light-blue: #6e63f6;
}

body {
  font-family: Oswald, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* Контейнер */
.container {
  padding: 0 20px;
  max-width: 1440px;
  overflow: hidden;
}

.container_background {
  background: var(--basic-white);
  background: linear-gradient(0deg, var(--basic-white) 32.9%, var(--basic-blue) 32.9%);
  padding-top: 66px;
}

.container_news {
  margin-top: 20px;
}

/* Шапка */
.header {
  height: 66px;
  width: 100%;
  background-color: var(--basic-white);
  position: fixed;
  left: 0;
  top: 0;
}

/* Логотип */
.logo {
  font-size: 30px;
}

/* Промо */
.promo {
  color: var(--basic-white);
  padding-top: 42px;
  text-align: center;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.promo__text,
.promo__img {
  display: block;
  width: 100%;
}

.promo__header {
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 12px 0;
  width: 100%;
}

.promo__img {
  width: 250px;
  height: 250px;
  line-height: 500px;
  margin-top: 55px;
}

.promo__button {
  margin-top: 32px;
}

/* Кнопка */
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  height: 40px;
  cursor: pointer;
  transition: background ease-in .2s;
}

.button:hover {
  background-color: var(--light-blue);
}

/* Иконка */
.icon-wrap {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.icon-wrap_round {
  border-radius: 50%;
}

/* Новости */
.news {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
}

.news-block {
  background-color: var(--basic-grey);
  padding-top: 20px;
  overflow: hidden;
}

.news-block__top,
.news-block__text {
  padding: 0 20px;
}

.news-block__top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news-block__icon-wrap {
  width: 50px;
  height: 50px;
}

.news-block__icon-wrap_tablet {
  display: none;
}

.news-block__icon {
  width: 42px;
  height: 42px;
}

.news-block__header {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.news-block__text {
  margin: 20px 0;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

.news-block__line {
  border: none;
  background-color: var(--special-grey-1);
  height: 1px;
  width: 100%;
  margin: 0 0 20px 0;
}

.news-block__link {
  padding: 0 20px 20px;
  display: flex;
  align-items: flex-end;
  transition: background-color ease-out .3s;
  flex-wrap: wrap;
}

.news-block__link:hover {
  cursor: pointer;
  background-color: var(--special-grey-1);
}

.arrow__line,
.arrow__triangle {
  transition: transform ease-out .3s;
}

.news-block__link:hover .arrow__line {
  transform: scaleX(1.444444444);
}

.news-block__link:hover .arrow__triangle {
  transform: translateX(8px);
}

.news-block__link-wrap {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Факты */
.facts {
  margin-top: 33px;
  padding: 0 30px 0 20px;
}

.facts__header {
  font-weight: normal;
  font-size: 36px;
  padding-left: 20px;
  margin: 0 0 33px;
  line-height: 1;
}

.facts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.facts__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.facts__icon-wrap {
  width: 60px;
  height: 60px;
}

.facts__icon {
  width: 30px;
  height: 30px;
}

.facts__text {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.facts__number {
  display: none;
}

/* Футер */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  background-color: var(--basic-grey);
  margin-top: 45px;
}

.footer__logo {
  /* Шрифт некрасиво выравнивается по центру, поэтому немного правлю положение */
  margin-top: -0.15em;
}

/* Планшет */
@media screen and (min-width: 768px) {

  /* Шапка */
  .header {
    position: static;
    height: 50px;
  }

  /* Логотип */
  .logo {
    font-size: 40px;
  }

  /* Контейнер */
  .container {
    padding: 0 30px;
  }

  .container_background {
    background: var(--basic-white);
  }

  /* Промо */
  .container__promo {
    margin-top: 93px;
  }

  .promo {
    color: var(--basic-black);
    padding: 0 23px 0 80px;
    align-items: flex-start;
    text-align: left;
  }

  .promo__header {
    font-size: 60px;
    margin-bottom: 21px;
  }

  .promo__text {
    font-size: 20px;
  }

  .promo__img {
    width: 512px;
    height: 512px;
    order: 1;
    align-self: flex-end;
    margin-top: -54px;
  }

  .promo__button {
    z-index: 1;
    width: auto;
    padding: 0 3.2em;
    margin-top: 90px;
  }

  /* Кнопка */
  .button {
    height: 54px;
    font-size: 20px;
  }

  /* Новости */
  .news {
    margin-top: 70px;
  }

  .news-block {
    padding: 75px 60px 0 0;
    display: flex;
    gap: 40px;
  }

  .news-block__header {
    font-size: 36px;
  }

  .news-block__icon {
    width: 130px;
    height: 130px;
  }

  .news-block__icon-wrap {
    width: 200px;
    height: 200px;
    display: none;
  }

  .news-block__icon-wrap_tablet {
    display: flex;
    min-width: 200px;
    margin-top: 15px;
  }

  .news-block__top,
  .news-block__text {
    padding: 0 0 0 50px;
  }

  .news-block__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0 5px;
  }

  .news-block__line {
    display: none;
  }

  .news-block__link-wrap {
    font-size: 20px;
    gap: 25px;
  }

  .news-block__link {
    padding: 45px 0 50px 50px;
  }

  /* Факты */
  .facts {
    margin-top: 40px;
    padding: 0 30px;
  }

  .facts__header {
    padding: 0;
    font-size: 60px;
    margin-bottom: 40px;
  }

  .facts__list {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .facts__item {
    position: relative;
    height: 280px;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .facts__icon-wrap {
    width: 80px;
    height: 80px;
  }

  .facts__icon {
    width: 40px;
    height: 40px;
  }

  .facts__text {
    line-height: 1.7;
    max-width: 170px;
  }

  .facts__number {
    display: block;
    font-size: 280px;
    color: var(--basic-grey);
    z-index: -1;
    position: absolute;
    right: 0;
  }

  /* Футер */
  .footer {
    padding-left: 30px;
    justify-content: flex-start;
    height: 150px;
  }
}

@media screen and (min-width: 1100px) {
  .facts__list {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}

/* Десктоп */
@media screen and (min-width: 1220px) {

  /* Шапка */
  .header {
    background: none;
    height: 60px;
  }

  /* Логотип */
  .logo {
    font-size: 60px;
  }

  /* Контейнер */
  .container {
    padding: 0 110px;
  }

  .container_background {
    background: linear-gradient(90deg, var(--basic-white) 50%, var(--basic-blue) 50%);
  }

  /* Промо */
  .promo {
    padding: 0 80px;
  }

  .promo__img {
    margin-top: -295px;
    margin-bottom: -11px;
    position: relative;
    left: 9%;
    align-self: center;
  }

  .promo__button {
    margin-top: 110px;
  }

  /* Новости */
  .news {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .news-block {
    padding: 50px 0 0 0;
  }

  .news-block__top,
  .news-block__text {
    padding: 0 120px 0 50px;
  }

  .news-block__top {
    gap: 60px;
  }

  .news-block__icon-wrap {
    width: 100px;
    height: 100px;
    display: flex;
  }

  .news-block__icon {
    width: 73px;
    height: 73px;
  }

  .news-block__icon-wrap_tablet {
    display: none;
  }

  .news-block__text {
    margin: 40px 0 10px;
  }

  .news-block__link {
    padding: 20px 120px 55px 50px;
  }

  /* Факты */
  .facts {
    margin-top: 70px;
    padding: 0 110px;
  }
}