.article {
  background-color: var(--basic-grey);
  padding-top: 24px;
  overflow: hidden;

  &__top,
  &__text {
    padding: 0 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon-wrap {
    width: 50px;
    height: 50px;
  }

  &__icon {
    width: 42px;
    height: 42px;
  }

  &__header {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }

  &__text {
    margin: 23px 0 21px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__line {
    border: none;
    background-color: var(--special-grey-1);
    height: 1px;
    width: 100%;
    margin: 0 0 15px 0;
  }

  &__link-wrap {
    text-decoration: none;
    color: var(--basic-black);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__link {
    padding: 0 20px 18px;
    display: flex;
    align-items: flex-end;
    transition: background-color ease-out 0.3s;
    flex-wrap: wrap;

    &:hover {
      cursor: pointer;
      background-color: var(--special-grey-1);
      transition-duration: 0.2s;

      .arrow__line {
        transform: scaleX(1.444444444);
      }

      .arrow__triangle {
        transform: translateX(8px);
      }
    }
  }
}

.arrow__line,
.arrow__triangle {
  transition: transform ease-out 0.3s;
}

@media screen and (min-width: 768px) {
  .article {
    padding: 67px 60px 0 0;
    display: flex;
    position: relative;
    flex-direction: column;

    &__header {
      font-size: 36px;
    }

    &__icon {
      width: 130px;
      height: 130px;
    }

    &__icon-wrap {
      width: 200px;
      height: 200px;
      position: absolute;
      right: 62px;
      top: calc(50% - 95px);
    }

    &__top,
    &__text {
      padding: 0 0 0 53px;
    }

    &__top,
    &__text,
    &__link {
      max-width: 50%;
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
      margin: 17px 0 5px;
    }

    &__line {
      display: none;
    }

    &__link-wrap {
      font-size: 20px;
      gap: 25px;
    }

    &__link {
      padding: 45px 0 57px 50px;
    }
  }
}

@media screen and (min-width: 1220px) {
  .article {
    padding: 47px 0 0 0;

    &__header {
      padding-left: 3px;
      line-height: 1;
    }

    &__top,
    &__text {
      padding: 0 120px 0 51px;
    }

    &__top,
    &__text,
    &__link {
      max-width: none;
    }

    &__top {
      gap: 60px;
    }

    &__icon-wrap {
      width: 100px;
      height: 100px;
      display: flex;
      position: static;
    }

    &__icon {
      width: 73px;
      height: 73px;
    }

    &__text {
      margin: 40px 0 7px;
    }

    &__link {
      padding: 20px 120px 58px 52px;
    }
  }
}