/* Промо */
.promo {
  color: var(--basic-white);
  padding-top: 42px;
  text-align: center;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.promo__text,
.promo__img {
  display: block;
  width: 100%;
}

.promo__header {
  font-size: 36px;
  font-weight: normal;
  margin: 0 0 12px 0;
  width: 100%;
}

.promo__img {
  width: 250px;
  height: 250px;
  line-height: 500px;
  margin-top: 55px;
}

.promo__button {
  margin-top: 32px;
}

/* Кнопка */
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  height: 40px;
  cursor: pointer;
  transition: background ease-out 0.2s;
}

.button:hover {
  background-color: var(--light-blue);
  transition-duration: 0.1s;
}

/* Иконка */
.icon-wrap {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.icon-wrap_round {
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  /* Промо */
  .container__promo {
    margin-top: 93px;
  }

  .promo {
    color: var(--basic-black);
    padding: 0 23px 0 80px;
    align-items: flex-start;
    text-align: left;
  }

  .promo__header {
    font-size: 60px;
    margin-bottom: 21px;
  }

  .promo__text {
    font-size: 20px;
  }

  .promo__img {
    width: 512px;
    height: 512px;
    order: 1;
    align-self: flex-end;
    margin-top: -54px;
  }

  .promo__button {
    z-index: 1;
    width: auto;
    padding: 0 3.2em;
    margin-top: 90px;
  }

  /* Кнопка */
  .button {
    height: 54px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1220px) {
  /* Промо */
  .promo {
    padding: 0 80px;
  }

  .promo__img {
    margin-top: -295px;
    margin-bottom: -11px;
    position: relative;
    left: 9%;
    align-self: center;
  }

  .promo__button {
    margin-top: 110px;
  }
}
