.container {
  padding: 0 20px;
  overflow: hidden;

  &_top {
    background: var(--basic-white);
    background: linear-gradient(0deg, var(--basic-white) 32.9%, var(--basic-blue) 32.9%);
    padding-top: 66px;
  }

  &_news {
    margin-top: 20px;
  }

  &_facts {
    margin-top: 33px;
    margin-bottom: 40px;
    padding: 0 30px 0 20px;
  }

  &_footer {
    background-color: var(--basic-grey);
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;

    &_top {
      background: var(--basic-white);
    }

    &_news {
      margin-top: 70px;
    }

    &_facts {
      margin-top: 43px;
      margin-bottom: 36px;
      padding: 0 30px;
    }
  }
}

@media screen and (min-width: 1220px) {
  .container {
    padding: 0 7.63888888888889%;

    &_top {
      background: linear-gradient(90deg, var(--basic-white) 50%, var(--basic-blue) 50%);
    }

    &_news {
      margin-top: 81px;
    }

    &_facts {
      margin-top: 70px;
      margin-bottom: 109px;
      padding: 0 110px;
    }
  }
}