.facts {
  &__header {
    font-weight: normal;
    font-size: 36px;
    padding-left: 20px;
    margin: 0 0 36px;
    line-height: 1;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .facts__header {
    padding: 0;
    font-size: 60px;
    margin-bottom: 44px;
  }

  .facts__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 38px;
    column-gap: 60px;
  }
}

@media screen and (min-width: 1366px) {
  .facts__header {
    margin-bottom: 30px;
  }

  .facts__list {
    display: flex;
    justify-content: space-between;
  }
}