.news {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .news {
    row-gap: 30px;
  }
}

@media screen and (min-width: 1220px) {
  .news {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}