/* Новости */
.news {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
}

.news-block {
  background-color: var(--basic-grey);
  padding-top: 20px;
  overflow: hidden;
}

.news-block__top,
.news-block__text {
  padding: 0 20px;
}

.news-block__top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news-block__icon-wrap {
  width: 50px;
  height: 50px;
}

.news-block__icon-wrap_tablet {
  display: none;
}

.news-block__icon {
  width: 42px;
  height: 42px;
}

.news-block__header {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.news-block__text {
  margin: 20px 0;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

.news-block__line {
  border: none;
  background-color: var(--special-grey-1);
  height: 1px;
  width: 100%;
  margin: 0 0 20px 0;
}

.news-block__link {
  padding: 0 20px 20px;
  display: flex;
  align-items: flex-end;
  transition: background-color ease-out 0.3s;
  flex-wrap: wrap;
}

.news-block__link:hover {
  cursor: pointer;
  background-color: var(--special-grey-1);
  transition-duration: 0.2s;
}

.arrow__line,
.arrow__triangle {
  transition: transform ease-out 0.3s;
}

.news-block__link:hover .arrow__line {
  transform: scaleX(1.444444444);
}

.news-block__link:hover .arrow__triangle {
  transform: translateX(8px);
}

.news-block__link-wrap {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  /* Новости */
  .news {
    margin-top: 70px;
  }

  .news-block {
    padding: 75px 60px 0 0;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .news-block__header {
    font-size: 36px;
  }

  .news-block__icon {
    width: 130px;
    height: 130px;
  }

  .news-block__icon-wrap {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 60px;
    top: calc(50% - 100px);
  }

  .news-block__icon-wrap_tablet {
    display: flex;
    min-width: 200px;
    margin-top: 15px;
  }

  .news-block__top,
  .news-block__text {
    padding: 0 0 0 50px;
  }

  .news-block__top,
  .news-block__text,
  .news-block__link {
    max-width: 50%;
  }

  .news-block__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0 5px;
  }

  .news-block__line {
    display: none;
  }

  .news-block__link-wrap {
    font-size: 20px;
    gap: 25px;
  }

  .news-block__link {
    padding: 45px 0 50px 50px;
  }
}

@media screen and (min-width: 1220px) {
  /* Новости */
  .news {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .news-block {
    padding: 50px 0 0 0;
  }

  .news-block__top,
  .news-block__text {
    padding: 0 120px 0 50px;
  }

  .news-block__top,
  .news-block__text,
  .news-block__link {
    max-width: none;
  }

  .news-block__top {
    gap: 60px;
  }

  .news-block__icon-wrap {
    width: 100px;
    height: 100px;
    display: flex;
    position: static;
  }

  .news-block__icon {
    width: 73px;
    height: 73px;
  }

  .news-block__icon-wrap_tablet {
    display: none;
  }

  .news-block__text {
    margin: 40px 0 10px;
  }

  .news-block__link {
    padding: 20px 120px 55px 50px;
  }
}
